.navbar-dark .nav-link {
  color: #ffffff;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.navbar-dark .nav-link:hover {
  background-color: #0b5ed7; /* Slightly darker blue */
  color: #ffffff;
}

.dropdown-item{
  transition: background-color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
    color: #fff9f9 !important;
}

.dropdown-item:hover{
    background-color: #0b5ed7 !important; /* Slightly darker blue */
    color: #ffffff !important;    
}

.dropdown-menu{
    background-color: #000000 !important;

}